/* @extend display-flex; */
display-flex, .display-flex, .display-flex-center {
    display: flex;
    display: -webkit-flex; }

/* @extend list-type-ulli; */
list-type-ulli {
    list-style-type: none;
    margin: 0;
    padding: 0; }

/* Montserrat-300 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
   /* IE9 Compat Modes */ }
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;

    /* IE9 Compat Modes */ }
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;

    /* IE9 Compat Modes */ }
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;

    /* IE9 Compat Modes */ }
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;

    /* IE9 Compat Modes */ }
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;

    /* IE9 Compat Modes */ }
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;

    /* IE9 Compat Modes */ }
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 900;}
a:focus, a:active {
    text-decoration: none;
    outline: none;
    transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s; }

input, select, textarea {
    outline: none;
    appearance: unset !important;
    -moz-appearance: unset !important;
    -webkit-appearance: unset !important;
    -o-appearance: unset !important;
    -ms-appearance: unset !important; }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    -o-appearance: none !important;
    -ms-appearance: none !important;
    margin: 0; }

input:focus, select:focus, textarea:focus {
    outline: none;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    -ms-box-shadow: none !important; }

input[type=checkbox] {
    appearance: checkbox !important;
    -moz-appearance: checkbox !important;
    -webkit-appearance: checkbox !important;
    -o-appearance: checkbox !important;
    -ms-appearance: checkbox !important; }

input[type=radio] {
    appearance: radio !important;
    -moz-appearance: radio !important;
    -webkit-appearance: radio !important;
    -o-appearance: radio !important;
    -ms-appearance: radio !important; }

img {
    max-width: 100%;
    height: auto; }

figure {
    margin: 0; }

p {
    margin-bottom: 0px;
    font-size: 15px;
    color: #777; }

h2 {
    line-height: 1.66;
    margin: 0;
    padding: 0;
    font-weight: 500;
    color: #222;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px; }

.clear {
    clear: both; }

body {
    font-size: 14px;
    line-height: 1.8;
    color: #222;
    font-weight: 400;
    font-family: 'Montserrat';
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center center;
    padding: 50px 0; }

.container {
    width: 660px;
    /*position: relative;*/
    margin: 0 auto;
    border: 1px solid #2eca6a;
    border-radius: 5px;
margin-top:130px;

}

.display-flex {
    justify-content: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -o-justify-content: space-between;
    -ms-justify-content: space-between;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center; }

.display-flex-center {
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center; }

.position-center {
    /*position: absolute;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); }

.signup-content {
    background: white;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    padding: 50px 85px; }

.form-group {
    overflow: hidden;
    margin-bottom: 20px; }
.back{
    margin-top:5px;
    height: 25px;
    width: 25px;
    margin-right: 120px;


}
.inline-radio{
    display: flex;


}
.inline-image{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}
.file-container{
    margin-left: 40px;

}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #2eca6a;
    border-radius: 5px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: #2eca6a;
    font-family:  Arial, Helvetica, sans-serif;
}
.inline-radio >div{
    position: relative;
    flex: 1;
}
.text-label{
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #999;
}

.header{
display: flex;

}

.form-input {
    width: 100%;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    padding: 17px 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    color: #222; }
.form-input::-webkit-input-placeholder {
    color: #999; }
.form-input::-moz-placeholder {
    color: #999; }
.form-input:-ms-input-placeholder {
    color: #999; }
.form-input:-moz-placeholder {
    color: #999; }
.form-input::-webkit-input-placeholder {
    font-weight: 500; }
.form-input::-moz-placeholder {
    font-weight: 500; }
.form-input:-ms-input-placeholder {
    font-weight: 500; }
.form-input:-moz-placeholder {
    font-weight: 500; }
.form-input:focus {
    border: 1px solid transparent;
    -webkit-border-image-source: -webkit-linear-gradient(to right, #2eca6a, white);
    -moz-border-image-source: -moz-linear-gradient(to right,  #2eca6a, white);
    -o-border-image-source: -o-linear-gradient(to right,  #2eca6a, white);
    border-image-source: linear-gradient(to right,  #2eca6a, white);
    -webkit-border-image-slice: 1;
    border-image-slice: 1;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    background-origin: border-box;
    background-clip: content-box, border-box; }
.form-input:focus::-webkit-input-placeholder {
    color: #222; }
.form-input:focus::-moz-placeholder {
    color: #222; }
.form-input:focus:-ms-input-placeholder {
    color: #222; }
.form-input:focus:-moz-placeholder {
    color: #222; }

.form-submit {
    width: 100%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    padding: 17px 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    border: none;
    background-image: -moz-linear-gradient(to left, #c4c4c4, black);
    background-image: -ms-linear-gradient(to left,  #c4c4c4, black);
    background-image: -o-linear-gradient(to left,  #c4c4c4, black);
    background-image: -webkit-linear-gradient(to left,  #c4c4c4, black);
    background-image: linear-gradient(to left,  #c4c4c4, black); }

input[type=checkbox]:not(old) {
    width: 2em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    display: none; }

input[type=checkbox]:not(old) + label {
    display: inline-block;
    margin-top: 7px;
    margin-bottom: 25px; }

input[type=checkbox]:not(old) + label > span {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 15px;
    margin-bottom: 3px;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    background: white;
    background-image: -moz-linear-gradient(white, white);
    background-image: -ms-linear-gradient(white, white);
    background-image: -o-linear-gradient(white, white);
    background-image: -webkit-linear-gradient(white, white);
    background-image: linear-gradient(white, white);
    vertical-align: bottom; }

input[type=checkbox]:not(old):checked + label > span {
    background-image: -moz-linear-gradient(white, white);
    background-image: -ms-linear-gradient(white, white);
    background-image: -o-linear-gradient(white, white);
    background-image: -webkit-linear-gradient(white, white);
    background-image: linear-gradient(white, white); }

input[type=checkbox]:not(old):checked + label > span:before {
    content: '\f26b';
    display: block;
    color: #222;
    font-size: 11px;
    line-height: 1.2;
    text-align: center;
    font-family: 'Material-Design-Iconic-Font';
    font-weight: bold; }

.label-agree-term {
    font-size: 12px;
    font-weight: 600;
    color: #555; }

.term-service {
    color: #555; }

.loginhere {
    color: #555;
    font-weight: 500;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 5px; }

.loginhere-link {
    font-weight: 700;
    color: #2eca6a; }

.field-icon {
    float: right;
    margin-right: 17px;
    margin-top: -32px;
    position: relative;
    z-index: 2;
    color: #555; }

@media screen and (max-width: 768px) {
    .container {
        width: calc(100% - 40px);
        max-width: 100%; } }
@media screen and (max-width: 480px) {
    .signup-content {
        padding: 50px 25px; } }

/*# sourceMappingURL=style.css.map */


.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 112px;
    border-bottom: 1px solid white;
    box-shadow: 9px 9px 8px #e8e8e8;
    font-family: 'Poppins', sans-serif;;
}


.uptown {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 16px;
    color: #000000;
    font-size: 2rem;
    font-weight: 600;
    margin-left:55px;
    float: left;

}

.uptown:hover {
    color: #2eca6a;
    text-decoration: none;
    background-color: white;
}
ul {
    list-style-type: none;
    width:490px;
    overflow: hidden;
    /*background-color: pink;*/
    margin-top: 40px;

}

li {
    float: left;

}

li a {
    font-size: 1.1rem;
    color: #000000;
    font-weight: 600;
    letter-spacing: 0.030em;
    transition: all 0.1s ease-in-out;
    position: relative;
    background-color: white;
    /*margin-top: 200px;*/
    left: 100px;
    text-decoration: none;
    padding-right: 25px;
    margin-left: 10px;


}
li a:hover{
    background-color: white;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #2eca6a;
}

.link-text{
    color: #2eca6a ;
    font-size: 13px;
    margin-top: 45px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;



}
.link-text:hover{
    background-color: white;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #2eca6a;
}

.btn-border{
    height: 38px;
    display: inline-block;
    line-height: 38px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    cursor: pointer;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 500;
    color: #333;
    border: 1px  solid #333;
    border-radius: 3px;
    margin-top: 35px;
    margin-left: 15px;
background: white;


}
.btn-border:hover {
    background: #333;
    color: white;
}
.btn-cls{
/*padding-left: -30px;*/
    /*background-color: #0c5460;*/
}
.bg-green {
    color: #2eca6a;
}
#myBtn {
    position: fixed;
    display: none;
    background: #2eca6a;
    color: #fff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
    border: none;
    outline:none;

}
.arrow-btn{
    width: 14px;
    height: 14px;

}

html {
    scroll-behavior: smooth;
}
